* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}
header {
    height: 10vh;
    width: 100%;
    background-color: rgb(155, 219, 198);
    margin: 0 auto;
}

.title-row {
    position: relative;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 15px;
}

.title-row .title {
    font-size: 22pt;
    font-weight: bolder;
}

.add-icon {
    position: absolute;
    height: 45px;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
    filter: drop-shadow(0 0 5px #888);
}

.cms-body {
    position: relative;
    display: flex;
    height: 100vh;
    /* background-color: black; */
}

.main-menu {
    width: 250px;
    background-color: rgb(29, 29, 75);
}

.cms-content {
    width: calc(100vw - 250px);
    /* background-color: bisque; */
}

table.list {
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 0 auto 15px;
    border-collapse: collapse;
    box-shadow: 0 0 15px #ccc;
    text-align: center;
}

table.list th {
    padding: 3px 10px;
}

table.list td {
    padding: 7px 10px;
}

table.list tbody tr:first-child td {
    padding-top: 10px;
}

table.list thead tr:nth-child(1) {
    background-color: rgb(155, 219, 198);
}

 table.list thead th {
    border-bottom: 1px solid #aaa;
}

table.list thead th, table.list tbody td {
    border-right: 1px solid #aaa;
}

table.list thead th {
    border-right-color: #555;
    border-bottom: 1.5px solid #555;
}

table.list thead th:last-child, table.list tbody td:last-child {
    border-right: none;
}

table.list th:last-child {
    border-top-right-radius: 10px;
}

table.list th:first-child {
    border-top-left-radius: 10px;
}

table.list .icon, table.list form {
    height: 1em;
    position: relative;
    border-right: none;
}

table.list:hover {
    cursor: default;
}

table.list .icon img, ._icon {
    position: relative;
    height: 100%;
}

table.list .icon img:hover {
    cursor:pointer;
}

table.list tbody tr:hover {
    background-color: rgb(204, 222, 240);
}

table.list tbody tr:last-child:hover td:first-child {
    border-bottom-left-radius: 10px;
}

table.list tbody tr:last-child:hover td:last-child {
    border-bottom-right-radius: 10px;
}

h2.list-title {
    margin: 10px auto 0;
    text-align: center;
}

.menu-option {
    position: relative;
    color: #ddd;
    background-color: rgb(55, 55, 133);
    margin: 0 10px 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgb(29, 29, 75);
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

.menu-option:first-child {
    margin-top: 10px;
}

.menu-option:hover {
    cursor: pointer;
    background-color: rgb(70, 70, 167);
}

.menu-option .icon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 1em;
    /* border: 1px solid white; */
}

.opt-content {
    position: relative;
    left: 12%;
}

a {
    text-decoration: none;
}

.cms-content {
    position: relative;
    overflow: auto;
}

.main-menu .active {
    background-color: rgb(55, 134, 108);
}

.icon {
    height: 1em;
}

.cms-age-filter {
    margin-left: 10px;
    background-color: rgb(218, 241, 249);
    display: flex;
    align-items: baseline;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px 10px;
}

.cms-form-select {
    font-size: 12pt;
    padding: 3px;
}

.cms-input-number {
    width: 45px;
    font-size: 12pt;
    padding: 3px;
}

.cms-age-filter-el {
    margin-left: 5px;
}